*~
.cache
.cproject
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
CTestTestfile.cmake
compile_commands.json
Debug
dist/
install_manifest.txt
Makefile
Profile
obj/
.project
.vscode/
*.log
*.orig
*.rej
*.pyc
*.record
*.replay
.settings/
Testing/
.idea/
.*.swp
*generated
build/
bin/
lib/
share/
libbrotli*
extra_version_string.h
git_revision.h
third-party/zen-pmu-workaround/.*
third-party/zen-pmu-workaround/*.ko
third-party/zen-pmu-workaround/*.o
third-party/zen-pmu-workaround/*.mod
third-party/zen-pmu-workaround/*.mod.c
third-party/zen-pmu-workaround/Module.symvers
third-party/zen-pmu-workaround/modules.order
