*~
.cproject
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
CTestTestfile.cmake
Debug
dist/
install_manifest.txt
Makefile
Profile
obj/
.project
.vscode/
*.log
*.orig
*.rej
*.pyc
*.record
*.replay
.settings/
Testing/
.idea/
.*.swp
