# systemd service for AMD Zen `rr` workaround
# See https://github.com/rr-debugger/rr/wiki/Zen for more details
# To install:
#   - Save this file as `/etc/systemd/system/zen_workaround.service`
#   - Download the `zen_workaround.py` script to a secure location, example:
#     - sudo mkdir -p /usr/share/zen_workaround
#     - cd /usr/share/zen_workaround
#     - curl -L https://github.com/rr-debugger/rr/raw/master/scripts/zen_workaround.py | sudo tee -a zen_workaround.py >/dev/null
#     - chmod +x ./zen_workaround.py
#   - run `sudo systemctl enable zen_workaround` to enable on startup
#   - run `sudo systemctl start zen_workaround` to manually start it immediately
#   - run `systemctl status zen_workaround` to ensure that it completed successfully on your hardware

[Unit]
Description           = Startup script for rr zen workaround

[Service]
# Step to actually run `zen_workaround.py`.
ExecStart             =+/usr/share/zen_workaround/zen_workaround.py

# Only run this once, report it as "(active)" even after we've exited.
Type                  = oneshot
RemainAfterExit       = yes

[Install]
WantedBy             = default.target
